<h1>Maine Noms</h1>

<% @places.each do |place| %>
  <div>
    <h2><%= place.name %></h2><br>
    <i><%= place.address %></i><br>
    <p><%= place.description %></p>
  </div>
  <hr>
<% end %>